.slider {
  
  overflow:"hidden";
}

.slider img {
  width: 100%;
}

.react-multi-carousel-list {
padding: 0rem 0 4rem 0;
}

.custom-dot-list-style button{
    
border: none;
background: rgb(172, 169, 169);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
background: rgb(37, 35, 35) !important;
}